<a href="https://colab.research.google.com/github/fsk-lab/scics/blob/main/01_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A Gentle Introduction to Python


This notebook provides a gentle introduction to the very basics of the Python language. Herein, we will lern about the basic syntax of Python, and will slowly go through some of the most fundamental data types, and how to operate with them.

Importantly, this notebook is interactive. Whenever you find a highlighted block like this, you are explicitly encouraged to play with the code cell(s) below.

```
ðŸŽ®  Try out some options for the following code!
```
In addition, these notebooks try to give you some practical advice when starting to work with Python.
* â—  This indicates pitfalls with Python, or some unexpected behavior.
* ðŸ’¡  You will find some interesting or useful tricks here.
* ðŸ”„  Here, we recap contents that we have learned in an earlier tutorial.
* ðŸ§   The notebook introduces advanced contents. They are not required for the class, but may be interesting.

Enjoy these notebooks as a gentle introduction to Python. Try out as many features as possible, and modify the code cells according to your thoughts and questions. Remember two things: 1) You can't break anything, and 2) only practice makes perfect!

## Getting Used to Working with Notebooks


Let us start by getting familiar with the use of Python in the interactive mode (IPython). For each of the code cells in a notebook, you can modify the code as you like. Each cell can then be executed by clicking the small â–¶  icon on the left-hand side of the cell, or by using `Shift + Enter`.

As we have learned in the class, Python is an imperative programming language. The user â€“ meaning, you â€“ gives it a command or a sequence of commands, and then it executes it one by one. If I tell Python to print out the sentence `"Hello World!"`, it will do that.

```
ðŸŽ®  Execute the following cell!
```

In [ ]:
print("Hello World!")

Hello World!

Nice! We have just run our first little â€“ and very simple â€“ piece of Python code. `print` is a useful function that we can use for printing all kinds of information to the console output. Effectively, it has the same functionality as the `echo` function in bash that we have learned about before. But we also start noticing the first differences between the ***syntax*** of Python and bash. In Python, the arguments of a function (here: the things that should be printed out) must be placed in parentheses. We will learn much more about the syntax of Python as we move forward.


But of course, we can also do more complicated things than just printing stuff. For the start, we can use a notebook cell like a calculator, and add (`+`), subtract (`-`), multiply (`*`) or divide (`/`) numbers.

```
ðŸŽ®  Explore some basic calculation functionalities in the following cell!
```

In [ ]:
3 / 4.12 * 3

2.1844660194174756

## Assigning Variables

Arguably, all of the above is not very useful yet. However, programming becomes much more interesting when we start to store information so that we can use it again at a later stage.

In Python, information is stored in **variables**.

In [ ]:
a = 3

Note that this cell does not produce any output now!

The fact that e.g. the "calculator" cells above showed some output after we ran them (i.e. the result of the calculation) is a special feature of interactive Python. After executing a cell, the result of the last row is shown below the cell. In this case, the assignment of the value 3 to the variable `a` does not produce any output, so nothing is shown.


> â—  This cell output feature is quite handy for learning Python and testing code â€“ but it is usually not useful outside of interactive Python sessions.

As a user, we are free to choose variable names as we like. All combinations of letters, numbers and the `_` are allowed. The only exception from this rule is that variable names must not start with a number. Examples of allowed variable names are:
* `a`
* `temperature`
* `spectrometer_frequency`


> **Best Practices** (I): Especially in complex code, variable names should be informative! `temperature` is a much better variable name than `t`.

> **Best Practices** (II): Even though it is formally allowed, current Python style guides recommend not to use capital letters in variable names.



```
ðŸŽ®  Try to assign some variables with allowed and forbidden variable names, and see what happens!
```

In [ ]:
9a = 3

SyntaxError: invalid decimal literal (<ipython-input-4-ca8b9f94f25d>, line 1)

If we try to assign a variable that starts with a number (e.g. trying `9a = 3`), Python will raise a `SyntaxError`, telling us that our code does not follow proper Python syntax. The error trace may look scary at the first glance, but it usually contains a lot of helpful information to spot where our error lies. Compared to other programming languages, this is a major strength of Python â€“ error messages are very often quite informative!

### Basic Variable Types in Python


Variables in Python have different types, and depending on the type, we can do different things with them.  

* Boolean values (**bool**): `True` or `False`
* Integer numbers (**int**): e.g. 1 or 3 or -4
* Floating-point numbers (**float**): e.g. 1.427 or â€“0.00421235 or
* Strings (**str**): e.g. "Hello World!" or "I hate computers.", or absurd German words like "Eierschalensollbruchstellenverursacher"
* The "None" type (**None**): `None`

It is important to note that Python is a **dynamically typed** language â€“Â meaning that we do not have to explicitly define variable types. If we assign `a == 3`, then Python automatically identifies that this is probably an integer. For `b == 3.4`, it figures out that the data type should be a floating-point number. Depending on the operation performed, the data type of a variable can also change!

We can get the type of a given variable by using the `type` function.

In [ ]:
a = 3

type(a)

int

In [ ]:
b = 3.4

type(b)

float

In [ ]:
c = a / 4

type(c)

float

We can force a variable to assume a specific data type in a process which is called **casting**. In the example below, we want to store the value in `a` (which is 3) as floating-point number â€“ so we can cast it by calling `float(a)`.

In [ ]:
d = float(a)

d

3.0

In [ ]:
e = int(b)

e

3

In [ ]:
f = int("three")

ValueError: invalid literal for int() with base 10: 'three'

Note that casting variable types does not always work without loss of information â€“ and some data types and values can also be incompatible!

## Basic Operations in Python

### Calculating in Python

Using the basic number data types `int` and `float`, we can do a number of simple calculations using Python:

* Addition: `+`
* Subtraction: `-`
* Multiplication: `*`
* Division: `/`
* Floor division: `//` ("divide and round off")
* Modulus: `%` ("remainder of division")
* Exponentiation: `**`

Obviously, we can also do much more complex maths using Python. We will learn this at a later stage.

---

For now, let us explore the functionality of these basic calculation operations.

```
ðŸŽ®  Try out the basic mathematical operations, and get a feeling for how they behave.
```*italicized text*

In [ ]:
4 % 3

1

### Comparison Operators


Comparison operators are used to compare two values. A comparison always returns a Boolean value (i.e. `True` if the comparison is true, or `False` if the comparison is false).

* Equal to: `==`
* Not equal to: `!=`
* Greater than: `>`
* Less than: `<`
* Greater than or equal to: `>=`
* Less than or equal to: `<=`

> â— **Attention**: Please note the difference between `=` (used for assigning variables) and `==` (used for comparing variables). `a = 3` sets the value of variable `a` to 3, whereas `a == 3` checks whether the value of variable `a` is 3.

```
ðŸŽ®  In the following cell, we assign values to the variables `a`, `b` and `c`.
We can now try out the functionality of the different comparison operators.
```

In [ ]:
a = 3
b = 2.45
c = -0.02145894850394

c > b

False

In principle, this Boolean outcome can also be assigned to a new variable.

In [ ]:
d = c > b

d

False

### Boolean Logic in Python

We have seen that Boolean Logic provides a fundamental way of evaluating logical operations. Boolean Logic can also be evaluated in Python. The elementary logical operations are implemented in Python as follows:

* AND: `and`
* OR: `or`
* NOT: `not`
* XOR: `!=`

Further logical operations (e.g. NAND or NOR) can be used as a combination of NOT and the respective operator:

* NAND: `not and`
* NOR: `not or`

```
ðŸŽ®  Test the functionality of Boolean logic in the following cells!
```

In [ ]:
True and False

False

In [ ]:
a = True
b = False
c = False

a and not b

True

Understanding these basic Boolean operations will be critical for our next section, where we will start to learn about logical control flows.

### Hierarchy of Operations

As in basic mathematics, there is a hierarchy between different operations. For example, we all know the rule "Multiplication and division first, then addition and subtraction". Similarly, there is a hierarchy of which Python operations are executed in which order:

1. Brackets: `(...)`, `[...]`, `{...}`
2. Exponentiation: `**`
3. Multiplication and Division: `*`, `/`, `//`, `%`
4. Addition and Subtraction: `+`, `-`
5. Comparisons: `==`, `!=`, `>`, `<`, `>=`, `<=`, `is`, `in`
6. Boolean NOT: `not`
7. Boolean AND: `and`
8. Boolean OR: `or`

Two expressions that are on the same hierarchy level will be executed "from left to right".

> ðŸ’¡ There is a number of further Python operations that we will learn about in future chapters, and that reside on different levels of this hierarchy.


```
ðŸŽ®  First predict the outcome of the following cells, then test it!
```

In [ ]:
(False or True) != False

In [ ]:
2 ** (20 % 4)

In [ ]:
7 // 3 < 5 % 2 + 2