<a href="https://colab.research.google.com/github/fsk-lab/scics/blob/main/01_Introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# A Gentle Introduction to Python

In this notebook, we will slowly work our way through the very basics of coding in Python.



> **ATTENTION** This notebook is still under construction!

## Getting Used to Working with Notebooks

Let us start by getting familiar with the use of Python in the interactive mode (IPython). For each of the code cells in a notebook, you can modify the code as you like. Each cell can then be executed by clicking the small ▶  icon on the left-hand side of the cell, or by using `Shift + Enter`.

As we have learned in the class, Python is an imperative programming language. The user – meaning, you – gives it a command or a sequence of commands, and then it executes it one by one. If I tell Python to print out the sentence `"Hello World!"`, it will do that.

```
Execute the following cell!
```

In [30]:
print("Hello World!")

Hello World!

Nice! We have just run our first little – and very simple – piece of Python code. `print` is a useful function that we can use for printing all kinds of information to the console output. Effectively, it has the same functionality as the `echo` function in bash that we have learned about before. But we also start noticing the first differences between the ***syntax*** of Python and bash. In Python, the arguments of a function (here: the things that should be printed out) must be placed in parentheses. We will learn much more about the syntax of Python as we move forward.



---



But of course, we can also do more complicated things than just printing stuff. For the start, we can use a notebook cell like a calculator, and add (`+`), subtract (`-`), multiply (`*`) or divide (`/`) numbers.

```
Explore some basic calculation functionalities in the following cell!
```

In [4]:
3 / 4.12 * 3

2.1844660194174756

## Assigning Variables

Arguably, all of the above is not very useful yet. However, programming becomes much more interesting when we start to store information so that we can use it again at a later stage.

In Python, information is stored in **variables**.

In [10]:
a = 3

Note that this cell does not produce any output now!

The fact that e.g. the "calculator" cells above showed some output after we ran them (i.e. the result of the calculation) is a special feature of interactive Python. After executing a cell, the result of the last row is shown below the cell. In this case, the assignment of the value 3 to the variable `a` does not produce any output, so nothing is shown.


> **Note**: This cell output feature is quite handy for learning Python and testing code – but it is usually not useful outside of interactive Python sessions.

As a user, we are free to choose variable names as we like. All combinations of letters, numbers and the `_` are allowed. The only exception from this rule is that variable names must not start with a number. Examples of allowed variable names are:
* `a`
* `temperature`
* `spectrometer_frequency`


> **Best Practices** (I): Especially in complex code, variable names should be informative! `temperature` is a much better variable name than `t`.

> **Best Practices** (II): Even though it is formally allowed, current Python style guides recommend not to use capital letters in variable names.



```
Try to assign some variables with allowed and forbidden variable names, and see what happens!
```

In [31]:
9a = 3

SyntaxError: invalid decimal literal (<ipython-input-31-ca8b9f94f25d>, line 1)

If we try to assign a variable that starts with a number (e.g. trying `9a = 3`), Python will raise a `SyntaxError`, telling us that our code does not follow proper Python syntax. The error trace may look scary at the first glance, but it usually contains a lot of helpful information to spot where our error lies. Compared to other programming languages, this is a major strength of Python – error messages are very often quite informative!

### Basic Variable Types in Python

Variables in Python have different types, and depending on the type, we can do different things with them.  

* Boolean values (**bool**): `True` or `False`
* Integer numbers (**int**): e.g. 1 or 3 or -4
* Floating-point numbers (**float**): e.g. 1.427 or –0.00421235 or
* Strings (**str**): e.g. "Hello World!" or "I hate computers.", or absurd German words like "Eierschalensollbruchstellenverursacher"
* The "None" type (**None**): `None`

It is important to note that Python is a **dynamically typed** language – meaning that we do not have to explicitly define variable types. If we assign `a == 3`, then Python automatically identifies that this is probably an integer. For `b == 3.4`, it figures out that the data type should be a floating-point number. Depending on the operation performed, the data type of a variable can also change!

We can get the type of a given variable by using the `type` function.

In [32]:
a = 3

type(a)

int

In [33]:
b = 3.4

type(b)

float

In [34]:
c = a / 4

type(c)

float

We can force a variable to assume a specific data type in a process which is called **casting**. In the example below, we want to store the value in `a` (which is 3) as floating-point number – so we can cast it by calling `float(a)`.

In [37]:
d = float(a)

d

3.0

In [38]:
e = int(b)

e

3

In [39]:
f = int("three")

ValueError: invalid literal for int() with base 10: 'three'

Note that casting variable types does not always work without loss of information – and some data types and values can also be incompatible!

## Basic Operations in Python

### Calculating in Python

Using the basic number data types `int` and `float`, we can do a number of simple calculations using Python:

* Addition: `+`
* Subtraction: `-`
* Multiplication: `*`
* Division: `/`
* Floor division: `//` ("divide and round off")
* Modulus: `%` ("remainder of division")
* Exponentiation: `**`

Obviously, we can also do much more complex maths using Python. We will learn this at a later stage.

---

For now, let us explore the functionality of these basic calculation operations.

In [12]:
4 % 3

1

### Comparison Operators

Comparison operators are used to compare two values. A comparison always returns a Boolean value (i.e. `True` if the comparison is true, or `False` if the comparison is false).

* Equal to: `==`
* Not equal to: `!=`
* Greater than: `>`
* Less than: `<`
* Greater than or equal to: `>=`
* Less than or equal to: `<=`

> **Attention**: Please note the difference between `=` (used for assigning variables) and `==` (used for comparing variables). `a = 3` sets the value of variable `a` to 3, whereas `a == 3` checks whether the value of variable `a` is 3.

```
In the following cell, we assign values to the variables `a`, `b` and `c`.
We can now try out the functionality of the different comparison operators.
```

In [29]:
a = 3
b = 2.45
c = -0.02145894850394

c > b

False

### Boolean Logic in Python

* AND: `and`
* OR: `or`
* NOT: `not`

Expressions? Recap output of cell?